*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-regular);
}

@font-face {
    font-family: "Metropolis Bold";
    src: url("../fonts/Metropolis-Bold.otf");
}
@font-face {
    font-family: "Metropolis Regular";
    src: url("../fonts/Metropolis-Regular.otf");
}

:root{
    --color-1: #223CA6;
    --font-bold: "Metropolis Bold";
    --font-regular: "Metropolis Regular";
    --color-text: #7D7D7F;

}

::-webkit-scrollbar {
    display: none;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    top:0;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 15px;
    z-index: 10;
}

.logo{
    color: var(--color-1);
    font-size: 22px;
    font-weight: bolder;
    font-family: var(--font-bold);
}

nav > ul{
    display: flex;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    margin-right: 50px;
}

nav > ul > li > a{
    text-decoration: none;
    font-size: 15px;
    color: var(--color-text);
    font-weight: 600;
}

.button-nav{
    background-color: var(--color-1);
    display: inline-block;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 3px 19px 36px -16px rgba(0,0,0,0.72);
}

.container-text{
    width: 50%;
    height: 140vh;
    float: left;
    padding: 0 160px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img{
    width: 50%;
    height: 140vh;
    float: right;
}
.container-img > img{
    width: 100%;
    height: 100%;
}

.text-principal > h1{
    font-family: var(--font-bold);
    font-size: 55px;
    color: #112778;
    letter-spacing: 1.2px;
}

.text-principal > p{
    color: var(--color-text);
    font-weight: 600;
    margin-top: 40px;
    line-height: 1.5;
}

.stats{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    display: flex;
    align-items: center;
}

.img > img{
    width: 22px;
    border-radius: 5px;
    box-shadow: 3px 19px 36px 1px rgba(240,201,147,0.72);
}
.img > span{
    color: #112778;
    font-size: 14px;
    font-family: var(--font-bold);
    font-weight: bolder;
    padding-left: 10px;
}

.schedule{
    margin-top: 140px;
    display: flex;
    align-items: center;
}

.schedule > img{
    width: 22px;
    border-radius: 5px;
    box-shadow: -4px 11px 50px 0px rgba(0,0,0,0.72);
}
.schedule > span{
    color: #112778;
    font-size: 14px;
    font-family: var(--font-bold);
    font-weight: bolder;
    padding-left: 10px;
}

/*Div flotante*/

.container-schedule{
    width: 800px;
    min-width: 400px;
    position:absolute;
    top:115vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 10%;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: -4px 11px 50px 0px rgba(0,0,0,0.72);
}


.info > img{
    width: 22px;
    border-radius: 5px;
}
.info > span{
    color: var(--color-text);
    font-size: 15px;
    font-weight: 600;
    height: 22px;
    display:inline-block;
    vertical-align:middle;
    padding-left: 10px;
}

.info > p{
    color: #112778;
    padding: 10px 10px 0 10px;
    font-weight: 600;
}
.info > a{
    background-color: var(--color-1);
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 3px 19px 36px -16px rgba(0,0,0,0.72);
}

.slider{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.slider > img{
    width: 20%;
    filter:opacity(.2);
}

.text-vaccine{
    width: 50%;
    padding: 20px 150px 50px 100px;
}
.text-vaccine > h2{
    color: #112778;
    font-family: var(--font-bold);
    line-height: 3;
    letter-spacing: 1.2px;
    font-size: 30px;
}
.text-vaccine > p{
    color: var(--color-text);
    line-height: 1.5;
    font-weight: 600;
}

.container-benefits{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 20px 100px;
}

.benefits{
    width: 200px;
    height: 250px;
    padding: 20px;
    border-radius: 5px;
}

.benefits > img{
    border-radius: 5px;
    width: 36px;
   line-height: 2;
}

.title{
    color: #112778;
    font-weight: bold;
    letter-spacing: 1.2px;
    padding: 20px 0;
}

.description{
    color: var(--color-text);
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
}

.benefits:hover{
    box-shadow: 3px 19px 36px -16px rgba(0,0,0,0.72);
    transition: 1s;
    cursor: pointer;
}
.prepared{
    width: 100%;
    height: 700px;
}

.prepared-img{
    width: 50%;
    float: left;
    padding: 50px 100px;
    
}
.prepared-img > img{
    width:90%;
    height: 600px;
}

.prepared-text{
    width: 50%;
    padding: 50px 100px;
    float: right;
}
.prepared-text > h2{
    color: #112778;
    font-family: var(--font-bold);
    line-height: 3;
    letter-spacing: 1.2px;
    font-size: 30px;
}

.prepared-text > p{
    color: var(--color-text);
    line-height: 1.5;
    font-weight: 600; 
}

.details-prepared{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
}

details{
    margin-bottom: 25px;
}

details > summary > img{
    border-radius: 5px;
    width: 22px;
}


details > summary > span{
    color: #112778;
    font-weight: bold;
    letter-spacing: 1.3px;
    height: 22px;
    display:inline-block;
    vertical-align:middle;
    padding-left: 10px;
}

details > p{
    color: var(--color-text);
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    padding: 10px 15px 0 15px;
    box-shadow: -1px 9px 11px -7px rgba(0,0,0,0.72);
    border-radius: 5px;
    background: transparent;
}

details > summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display: none
}
  
summary::after {
    content: '▼';
    float: right;
    color: #223CA6;
    background-color: #D4D0FF;
    padding: 5px 5px 2px 5px;
    font-size: 10px;
    border-radius: 5px;
}
details[open] summary:after {
    content: " ▼";
}

#contact{
    width: 100%;
    padding: 100px;
    height: 1100px;
}

.info-contact{
    width: 100%;
}

.info-contact > h2{
    color: #112778;
    font-family: var(--font-bold);
    line-height: 3;
    letter-spacing: 1.2px;
    font-size: 30px;
}

.info-contact > p{
    color: var(--color-text);
    line-height: 1.5;
    font-weight: 600;
    width: 500px;
}

.contacts{
    width: 100%;
    padding: 50px 0;
}

.detail-contact{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: 150px 0 100px 0;
}

.container-contact{
    width: 200px;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 25px;
    border-radius: 5px;
}

.container-contact:hover{
    box-shadow: 3px 19px 36px -16px rgba(0,0,0,0.72);
    transition: 1s;
    cursor: pointer;
}

.icon{
    display: flex;
    align-items: center;
}

.icon > img{
    width: 36px;
    border-radius: 5px;
}

.icon > p{
    margin-left: 20px;
    font-weight: bolder;
    color:#112778
}
.extra{
    color: var(--color-text);
    font-size: 13px;
}

.contact-img{
    width: 50%;
    float: right;
    padding: 0;
}
.contact-img > img{
    width:80%;
    height: 600px;
    float: right;
}

.button-contact{
    background-color: #D4D0FF;
    display: inline-block;
    color: #112778;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 3px 19px 36px -16px rgba(0,0,0,0.72);
    margin-top: 25px;
    width: 100%;
    text-align: center;

}

.button-contact:hover{
    background-color: #112778;
    color: #FFF;
    transition: 0.7s;
}

footer{
    background-color: #D4D0FF;
    padding: 50px 50px 20px 50px;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vaccine{
    width: 60%;
}

.text-footer{
    color: var(--color-text);
    font-weight: 600;
    font-size: 13px;
    width: 200px;
    line-height: 1.4;
}

.info-menu > p{
    color: #112778;
    font-weight: bold;
}

.info-menu > ul{
    margin-top: 15px;
}
.info-menu > ul >li{
    list-style: none;
    color:var(--color-text);
    font-size: 13px;
    font-weight: 600;
    line-height: 2;
}

.credits{
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.credits > p{
    color: var(--color-text);
    font-weight: 600;
    font-size: 13px;
}
.credits > p:nth-child(1){
    width: 70%;
}

